<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.valmirosjunior.caronafap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service
        -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".controller.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".controller.activities.ShowRidesActivity" />
        <activity android:name=".controller.activities.RegisterRideActivity" />
        <activity
            android:name=".controller.activities.ProfileUserActivity"
            android:label="@string/title_activity_profile_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controller.activities.ShowNotificationActivity" />
        <activity
            android:name=".controller.activities.ShowProfileActivity"
            android:label="@string/title_activity_see_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controller.activities.ConversationActivity" />
        <activity android:name=".controller.activities.ShowOneRideActivity"></activity>
    </application>

</manifest>